
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*my styles below*/
/**{outline:green 1px solid;}*/


body{
	height:100vh;
	width:100vw;
	color:#343434;
	background-color: white;
	display:grid;
	grid-template-rows: 1fr 2fr 1fr;
}
a{
	text-decoration: none;
	color:#343434;
}
a:hover{
	text-decoration: underline;
}


#nav1{
	/*outline: green 5px solid;*/
	display:grid;
	grid-template-columns: 1fr 2fr;
	height:10vh;
	width:100%;
}
#nav1  div{
	/*outline:5px solid green;*/
	color: #343434;
}
#topnav-section-2{
	color:#343434;
	justify-self: right;
}



#nav2{
	background-color: #F2F2F2;
}

main{
	margin-right:auto;
	margin-left:auto;
	width:35%;
}
form{
	width:96%;
	margin-right: auto;
	margin-left: auto;
}
form #search-bar{
	border:2px rgb(150, 26, 26) solid;
	width:100%;
	
	
}
#search-input{
	visibility: visible/*hidden*/;
	border:0px black solid;
	width:85%;
	float:right;
}
#google-logo{
	width:96%;
}
.button{width:48%;
		}



