
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: arial,sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*my styles below*/
/**{outline:green 1px solid;}*/


body{
	box-sizing: border-box;
	height:100vh;
	width:100vw;
	color:#343434;
	background-color: white;
	display:grid;
	grid-template-rows: 0.86fr 2fr 0.5fr;
}
a{
	text-decoration: none;
	color:#343434;
}
a:hover{
	text-decoration: underline;
}


#nav1{
	padding-top:0px;
	align-items: center;
	outline: green 0px solid;
	display:grid;
	grid-template-columns: 1fr 2fr;
	height:minmax(30px,8vh);
	width:100%;
}
#topnav-section-1{outline:0px yellow dotted;  display: flex;
	flex-direction: row;
	align-items: center;
margin-left:5%;}

#topnav-section-1 a{padding:0.6em;}

#nav1  div{
	font-family: arial,sans-serif;
	font-size:0.9em;
	/*outline:5px solid green;*/
	color: #343434;
	height:100%;
}

#topnav-section-2{
	outline: rgb(149, 101, 226) 0px solid;
	color:#343434;
	justify-self: right;
	height:100%;
	display:flex;
	align-items: center;
	justify-content: right;
}
#topnav-section-2 a{padding:0.6em;}
#profile-icon{
	padding:1%;
	position: relative;
	border-radius:50%;
	height:40px;
}
#profile-icon:hover{box-shadow:0 0 3px 1px rgb(196, 196, 196) ;}
#app-menu-icon{position:relative;width:30px;display: inline-block;padding:1%;border-radius: 50%;margin:12%;}
#app-menu-icon:hover{background-color: #80808044;}


#nav2{
	background-color: #F2F2F2;
}

main{
	width:100%;
}
form{
	transform: scale(1);
	height:100%;
	width: 80%;
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;
}
#search-bar{
	border:1px rgba(209, 216, 219, 0.562) solid;
	border-radius:1.6em;
	z-index: -1;
	display:flex;
	height:2.7em;
	align-items:center;
}
#search-bar:hover{
	box-shadow:0 0.5px 1px 0px #3a3a3a62;
}
#search-icon{height:47%;opacity:0.85;outline: 0px rgb(190, 189, 189) solid;padding-left:2%;padding-top:0.25%;}
#search-input{
	visibility: visible/*hidden*/;
	border:0px black solid;
	width:85%;
	float:right;
	height:60%;
	border-radius:20px;
	font-size: 1em;
}
#search-input:focus{
	outline:0px #343434;
}
#clear-icon{visibility: hidden;}
#search-input:focus #clear-icon{
	visibility: visible;
}
#google-logo{
	display:block;
	margin:0 auto 10px auto;
	
	width: 50%;
}
#buttons{
	text-align: center;
	margin-top: 1.3em;

	outline:0px cyan solid;
	
}
.button{
	color: rgba(0, 0, 0, 0.664);
	box-sizing: border-box;
		display: inline-block;
		border:1px solid white;
		background-color: white;
		font-size: 0.93em;
		padding:0 0.3em;
		}
.button:hover{
	border-color:#8f9192;
	border-radius:5px;
	cursor: pointer;

}
footer{height:100%;background-color: #F2F2F2;color:#7a7b7c;text-align: center;font-size:1em;display:flex;flex-direction: column}
footer a{color: #7a7b7c;}
p{height:16%;text-align:left;border-bottom: rgba(150, 150, 151, 0.384) solid 1px;padding:1em 0 0.85em 1em;}

#achievement{height:35%;padding-top:7px;}
#nav2{
	height:30%;width:88%;margin:auto;
	display:grid;
	grid-template-columns:1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
	
}






@media screen and (min-width: 1500px) {
			body{font-size:119%;grid-template-rows: 0.86fr 2fr 0.35fr;}
			form{
				
				
				width: 43%;

		  }
		  #nav2{
			grid-template-columns: 0fr 1fr 1fr 1fr 4fr 1fr 1fr 1fr 0fr ;
		}
#footer{font-size: 0.7em;}
	}
